/* src/components/dashboard/ProjectManagement/PreviewProject.css */

.preview-project-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preview-project-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.preview-project-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 5px 0;
}

.table-container {
    margin-top: 20px;
}

.project-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.project-details-table th, 
.project-details-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.project-details-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.project-details-table td {
    color: #333;
}

.project-details-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.project-details-table tr:hover {
    background-color: #e9f5e9;
}

.no-details {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #777;
}



/* src/components/dashboard/ProjectManagement/PreviewProject.css */

.preview-project-container {
    padding: 20px;
}

.create-milestone-button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.milestones-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.milestones-table th, .milestones-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.save-button, .close-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button {
    background-color: #4CAF50;
    color: white;
}

.close-button {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}

/* Mensaje de confirmación */
.confirmation-message {
    background-color: #e6fffa;
    color: #2c7a7b;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #b2f5ea;
}